body{ padding-top: 50px;
    
    background-color: bisque;
color: black;
font-size: 20px;
text-align: center;
}
#form {
    background-color: bisque;
}
select{
    font-size: 16px;
}
input{font-size: 18px;
    background-color: blanchedalmond;
    border-radius: 5px;
 border-top: 5px;
 border-left: 5px;
}
#secondinfo{
    background-color: bisque;
    font-size: 18px;
}
footer{
    color: black;
    font-size: 20px;

}
#contact{
    padding-top: 260px;
}
textarea{
    padding-left: 20px;
background-color: blanchedalmond;
border-radius: 5px;

}
select{
    padding-top: 5px;
background-color: blanchedalmond;

}
